<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti laboriosam optio repudiandae soluta et non necessitatibus quibusdam asperiores autem, in fugit ullam qui magnam repellendus omnis expedita, illo iusto sit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore dignissimos eius illum distinctio, molestias sed perspiciatis atque aperiam voluptate tempora unde accusamus, alias delectus esse facilis voluptatum amet harum enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere, aperiam fugit asperiores, maxime obcaecati laborum delectus repellendus amet optio dolore incidunt explicabo laboriosam vel quaerat iure aspernatur, quam doloremque.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>